@import "../../styles/custom.module.scss";

.projects_container {
  padding-bottom: $gap-xl;
  text-align: center;


  h1 {
  }

  .content {
 
  }


  @media screen and (max-width: 768px) {
    .content {
      h1 {
        // padding: 0;
      }
      // gap: $gap-xs;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1200px) {
    .content {
      h1 {
        // padding: 0;
      }
    }
  }

  animation: scale 2s ease;
  animation-timeline: view();
  animation-range:cover 0% cover 30%;

}



@keyframes scale {
  from {
 
    // transform: scale(0);
  }
  to {

    // transform: scale(1);

  }
}