@import "../../../styles/custom.module.scss";

.button {
  background-color: $color-emphasis;
  color: #000;
  font-weight: bold;
  padding: 0.5em 1em;
  font-size: $size-sm;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  text-transform: uppercase;
  align-self: center;
  margin-top: $gap-md;
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #fff;
  }
}
