@import "../../styles/custom.module.scss";

.home_container {
  @include horizontal-menu;
  gap: $gap-xl;
  padding: 0;
  @include end-section;
  margin-bottom: $gap-xl;

  .left_col {
    .title_container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      span {
      }
      h1 {
        padding: 0;
        margin: 0;
        font-size: $size-gg;
        span {
          color: $color-emphasis;
        }
      }
      h2 {
        // margin-top: .5em;
        padding-bottom: $gap-md;
        text-indent: 0.5em;
      }

    }
    p {
      padding-bottom: $gap-sm;
      color: #ccc;
      margin-bottom: $gap-md;

    }
  }

  .rigth_col {
  }

  @media screen and (max-width: 620px) {
    flex-direction: column-reverse;
    text-align: center;
    gap: 0;

    .left_col {
      span {
        font-size: $size-sm;
      }
      h1 {
      }

      h2 {
        margin-top: $gap-xs;
      }

      p {
      }
    }

    .rigth_col {
      margin-top: $gap-sm;
      width: 200px;
      height: 218px;
    }
    margin-bottom: $gap-lg;
  }

  @media screen and (min-width: 621px) and (max-width: 930px) {
    gap: $gap-md;

    .left_col {
      h1 {
        font-size: $size-lg;
        text-align: left;
        span {
          color: $color-emphasis;
        }
      }

      h2 {
        padding: $gap-md;
      }

      p {
        font-size: $size-sm;
        text-align: left;
      }
    }

    .rigth_col {
      margin-top: $gap-md;
      width: 200px;
      height: 218px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 930px) {
    gap: $gap-lg;

    .left_col {
      h1 {
        text-align: left;
        line-height: 1em;
        font-size: $size-xl;
      }

      h2 {
        padding: $gap-md;
      }

      p {
        text-align: left;
      }
    }

    .rigth_col {
      width: 250px;
      height: 252px;
    }
  }
  animation: fadeRigth 1s ease;
}
@keyframes fadeRigth {
  from {
    opacity: 0;
    translate: 50vw 0;
  }
  to {
    opacity: 1;
    translate: 0vw 0;
  }
}
