// socialMediaBox.module.scss
@import "../../styles/custom.module.scss";

.socialMediaBox {
  cursor: pointer;
  filter: blur(0.2px);
  &:hover {
    filter: blur(0px);
  }
  a {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 100%;
  }

  .icon {
    cursor: pointer;
  }

  .text {
    color: #fff; 
    font-size: $size-sm;
    padding: $gap-xs;
  }
}
@media screen and (max-width: 930px) {
  .socialMediaBox {
    width: 100%;
  }
}
