@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

//background
$bg-dark0: #000;
$bg-dark1: #334155;
$bg-gradient1: linear-gradient(to right, #000, 70%, #1f2024);
//gap
$gap-xs: .5em;
$gap-sm: 1em;
$gap-md: 2em;
$gap-lg: 5em;
$gap-xl: 10em;

//font-family
$family-default: "Dosis";
$family-title: 'Montserrat', sans-serif;
// font-size
$size-xs: 0.7em;
$size-sm: 0.8em;
$size-md: 1em;
$size-lg: 1.5em;
$size-xl: 2em;
$size-gg: 3em;
//font color
$color-default: #fff;
$color-light: #9ca3af;
$color-emphasis: #ff7700;

//mixins

@mixin title-emphasys{
    font-family: $family-default;
    color: $color-default;
    font-size: $size-gg;
    padding-top: $gap-sm;
    
}

@mixin horizontal-menu{
    font-family: $family-default;
    gap: $gap-sm;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin end-section{
    margin-bottom: $gap-xl;
}

