@import "../../styles/custom.module.scss";

.skills_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(to right, #222, 50%, #1f2024);
  gap: $gap-md;
  padding: $gap-md;
  @include end-section;

  .content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: $gap-sm;
    align-items: stretch;
    justify-content: center;

    .skills_items {
      width: 50%;
      display: grid;
      grid-template-columns: repeat(3, 90px);
      grid-template-rows: repeat(4, 80px);
      gap: 1em;
      justify-content: center;

      .tech_item {
        border: 2px solid #444;
        border-radius: 8px;
        overflow: hidden;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .knowledge {
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      &:hover {
        overflow: auto;
      }

      .knowledge_list {
        p {
          color: #ddd;
          line-height: 1.4;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  .hiden {
    display: none;
  }

  .visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: justify;
    margin-bottom: $gap-lg;

    h2 {
      padding: 0;
      color: $color-emphasis;
    }

    p {
      color: #ddd;
    }
  }

  @media screen and (max-width: 768px) {
    gap: $gap-xs;
    padding: $gap-xs;
    padding-bottom: $gap-md;
    margin-bottom: 0;

    .content {
      flex-wrap: wrap;

      .resume {
        width: 100%;
        padding: $gap-xs;
        font-size: $size-sm;
      }

      .skills_items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: $gap-xs;

        .tech_item {
          &:hover {
          }
        }
      }

      .knowledge {
        padding: $gap-xs;
        height: 200px !important;

        h2 {
          text-align: center;
          font-size: $gap-sm;
        }

        .knowledge_list {
          p {
            font-size: $size-sm;
          }
        }
      }
    }

    .hiden {
    }

    .visible {
      h2 {
      }

      p {
      }

      .button {
        width: 100%;
      }
    }

    margin-bottom: $gap-lg;
  }


  animation: scale 2s ease;
  animation-timeline: view();
  animation-range:cover 0% cover 30%;
}

@keyframes scale {
  from {
 
    transform: scale(0);
  }
  to {

    transform: scale(1);

  }
}