@import "../../../styles/custom.module.scss";

.project_card_container {
  width: 45%;
  display: flex;
  align-items: center;
  font-size: $size-sm;
  background-color: #1f2024;
  border: 1px solid #444;
  border-radius: 8px 10px 8px 8px;
  padding: $gap-xs;
  margin-bottom: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease-in-out;
  gap: $gap-md;
  position: relative;
  z-index: 1;
  .github {
    position: absolute;
    top: 2px;
    right: 2px;
    opacity: 0.5;
    z-index: 10;
    .imggit {
      cursor: pointer;
      border-radius: 50%;
    }
    &:hover {
      transform: scale(1.05);
      opacity: 1;
      
    }
  }

  .img {
    border-radius: 5px;
    // min-height: 30%;
    
  }

  &:hover {
    transform: scale(1.05);
  }

  .content {
    position: relative;
    height: 100%;
    z-index: 1;


    h1 {
      font-family: $family-default;
      padding: $gap-xs 0;
    }
    .address {
      display: flex;
      flex-direction: column;

      span {
        font-weight: bold;
        color: $color-emphasis;
      }
    }
    .tecnologias {
      padding: $gap-xs 0;
      .title {
        color: $color-emphasis;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .project_card_container {
    width: 100%;
  }
}
