@import "../styles/custom.module.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $bg-gradient1;
  padding: $gap-sm $gap-md;
  color: $color-light;
  text-align: justify;
  -webkit-font-smoothing: antialiesed;

  h1,
  h2 {
    font-family: $family-title;
    color: $color-default;
    font-size: $size-md;
    padding-top: $gap-sm;
    padding-bottom: $gap-xs;
  }
  h2 {
    padding-top: $gap-xs;
    font-family: $family-default;
    font-size: $size-md;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}


@media (max-width: 768px) {
  html,
  body {
    background: #000;
    padding: $gap-sm;
  }
}
