@import "../../styles/custom.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");


.header_container {
  display: flex;
  .logo_container {
    display: flex;
    align-items: center;
    .img {
    }
    h1 {
      font-family: "Wallpoet";
      font-size: $size-xl;
      align-items: center;
      padding: 0;
      p {
        color: $color-emphasis;
        text-indent: 0.5em;
      }
    }
  }
  ul {
    @include horizontal-menu;
    color: #fff;
    padding-right: 7%;
  }
  animation: fadeLeft 1s ease;

}
@media screen and (max-width: 480px) {
  .header_container {
    gap: $gap-sm;
    .logo_container {
      .img {
        width: 50px;
        height: 50px;
      }
      h1 {
        display: none;
      }
    }
    ul {
      gap: $gap-xs;
      font-size: $size-md;
      padding-right: 0;
      padding-left: 2%;
      padding-top: 3%;
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header_container {
    flex-direction: column;
    align-items: center;
    .logo_container {
      .img {
        width: 80px;
        height: 80px;
      }
      h1 {
        // display: none;
        font-size: $size-xl;
        line-height: 0.8em;
      }
    }
    ul {
      justify-content: center;
      padding-right: 0;
      padding-left: 4%;
    }
  }
}
@media screen and (min-width: 769px) {
  .header_container {
    // display: flex;
    justify-content: space-between;
    .logo_container {
      // display: flex;
      // align-items: center;
      .img {
      }
      h1 {
        // font-size: $size-xl;
        // align-items: center;
        // padding: 0;
        p {
          // color: $color-emphasis;
          // text-indent: 0.5em;
        }
      }
    }
    ul {
      // @include horizontal-menu;
      padding-right: 7%;
    }
  }
}


@keyframes fadeLeft {
  from {
    opacity: 0;
    translate: -50vw 0;
  }
  to {
    opacity: 1;
    translate: 0vw 0;
  }
}