@import "../../../styles/custom.module.scss";

.courseContainer {
  .course_name {
    color: $color-emphasis;
  }

  .course_details {
    // font-size: 60px;
  }

  @media screen and (max-width: 620px) {
    display: inline;

    .course_name {
      color: $color-emphasis;

      &:after {
        content: "; ";
      }
    }

    .course_details {
      display: none;
    }
  }
}
