@import "../../styles/custom.module.scss";

.aboutContainer {
  @include horizontal-menu;
  margin-bottom: $gap-xl;
  display: flex;
  justify-content: space-between;

  .column1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $gap-sm;
    justify-content: space-between;

    .resume {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding-bottom: $gap-sm;
    }

    .personalInfo,
    .education {
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding-bottom: $gap-sm;

      li {
        padding-left: $gap-xs;

        h2 {
          padding-bottom: 0;
          font-size: $size-sm;
          color: $color-light;
        }

        span {
          color: $color-emphasis;
        }

        p {
          padding-bottom: $gap-xs;
        }
      }
    }

    .channelsContainer {
      display: flex;
      flex-direction: column;
      gap: $gap-xs;
      width: 100%;
      justify-content: space-around;
      padding-top: $gap-sm;

      .icons {
        cursor: pointer;
        filter: blur(1px);

        &:hover {
          filter: blur(0px);
        }
      }
    }
  }

  .column2 {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding: $gap-sm;

    .courses {
      margin: $gap-sm 0;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
  animation: scale 2s ease;
  animation-timeline: view();
  animation-range:cover 0% cover 30%;
  opacity: 1;
}

@media screen and (max-width: 620px) {
  .aboutContainer {
    flex-direction: column;
    text-align: center;

    .column1 {
      width: 100%;
      padding: 0;

      .img {
        display: none;
      }

      .education {
        width: 100%;

        li:nth-child(2) {
          display: none;
        }
      }

      .channelsContainer {
        margin-top: $gap-xs;
        display: flex;
        flex-direction: row;
      }
    }

    .column2 {
      width: 100%;
      padding: 0;
      border: none;
    }

    margin-bottom: $gap-lg;
  }
}

@media screen and (min-width: 621px) and (max-width: 930px) {
  .aboutContainer {
    display: inline-block;

    .column1 {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      align-items: flex-start;

      .img {
        display: none;
      }

      .personalInfo,
      .education {
        width: 50%;
        display: inline;
      }

      .channelsContainer {
        margin-top: $gap-xs;
        display: flex;
        flex-direction: row;
      }
    }

    .column2 {
      border: none;
      width: 100%;
      text-align: center;
    }

    margin-bottom: $gap-lg;
  }
}
// @keyframes fadeRigth {
//   from {
//     opacity: 0;
//     translate: 50vw 0;
//   }
//   to {
//     opacity: 1;
//     translate: 0vw 0;
//   }
// }

@keyframes scale {
  from {
 
    transform: scale(0);
  }
  to {

    transform: scale(1);

  }
}